<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="back_to_content" routerLink="/recipes">
      <ion-col size="2">
        <ion-icon name="arrow-back" size="large"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-text>Back to recipes</ion-text>
      </ion-col>
    </ion-row>
    <div *ngIf="recipe; else noRecipeTemplate">
      <ion-row class="recipe_img" [style.background-image]="backgroundImg">
      </ion-row>
      <ion-row>
        <ion-col size="12" class="recipe_name">
          <ion-title>{{ recipe.name }}</ion-title>
        </ion-col>
        <ion-col class="recipe_description" size="12">
          <ion-text *ngFor="let line of recipe.description">
            {{ line }}
          </ion-text>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
<ion-footer>
  <app-footer></app-footer>
</ion-footer>

<ng-template #noRecipeTemplate>
  <ion-row class="recipe_not_found_row">
    <ion-col size="12" class="recipe_not_found_img">
      <ion-img src="../../assets/img/not_found.png" alt="not found image"></ion-img>
    </ion-col>
    <ion-col size="12" class="recipe_not_found_title">
      <ion-title>RECETTE INTROUVABLE</ion-title>
      <ion-text>La recette séléctionné est introuvable.</ion-text>
    </ion-col>
    <ion-col size=12 class="recipe_not_found_button">
      <ion-button routerLink="/recipes">Retourner aux recettes</ion-button>
    </ion-col>
  </ion-row>
</ng-template>
